/* 헤더 */
#header{
    margin-top:10px;
}

#header span{
    font-weight: 800;
    font-size : 1.3em;
}

/* 상단 */
#top{
    margin-top:10px;
}

/* 맵 지도 */
#map{
    margin-top:10px;
}

#map.inner{

}

#mapContainer{
    margin:auto;
    width: 93%;
    height: 70vh;
}

/* 하단 */
@media screen and (max-width: 540px) {
    #categorys_sm {display:block;}
    #categorys {display:none;}
}

@media screen and (min-width: 540px) {
    #categorys_sm {display:none;}
    #categorys {display:block;}
}

#categorys, #categorys_sm{
    margin-top:10px;
}

#categorys{

}

#categorys_sm{
    
}